html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F1F1F1;
}

.customFontSizeDetails {
    font-size: 17pt;
}

.nav-item{
    font-size: 18px;
}

.d-grid a:hover {
    color: #C23A00;
}

.product-container{
    
}

.product-row {
    border: 2px;
    border-style: solid;
    border-color: #989898;
    border-radius: 20px;
    height: auto;
    padding: 10px;
    background-color: #D7D4D4
}

.product-sku {
    font-size: 24px;
    font-weight: bold;
}

.product-description {
    font-size: 20px;
    font-weight: bold;
}

.product-unit-price{
    font-size:large;
}

.input-group-text{
    width:185px;
}


