@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-size: 60px">Управление склад</h1>
    <div class="mt-5 py-5">
        <img src="./LogoVeteida.png" alt="Veteida" class="mx-auto" />
    </div>
</div>
