<div class="col-4">
    <form asp-controller="Product" asp-action="Edit" method="get">
        <div class="input-group mb-3 mt-5">
            <input type="text" id="barcode" name="id" class="form-control" placeholder="Product ID" aria-label="product ID" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <input type="submit" value="Submit" class="btn btn-outline-secondary" />
            </div>
        </div>
    </form>
</div>