@{
    ViewData["Title"] = "Създаване на артикули от EXCEL";
}

<h1 class="text-center">@ViewData["Title"]</h1>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var modelState in ViewData.ModelState.Values)
        {
            foreach (var error in modelState.Errors)
            {
                @error.ErrorMessage
            }
        }
    </div>
}
<form asp-action="CreateProductFromExcel" asp-controller="Product" method="post" enctype="multipart/form-data">
    <div class="col-6 mt-5">
        <div class="input-group">
            <input type="file" class="form-control" name="excelFile" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Напред =></button>
        </div>
    </div>
</form>



