<form asp-action="UploadExcel" asp-controller="Product" method="post" enctype="multipart/form-data">
    <input type="file" name="excelFile" />
    <input type="submit" value="Upload Excel" />
</form>
