<form asp-action="CreateProductFromExcel" asp-controller="Product" method="post" enctype="multipart/form-data">
    <div class="mb-5 mt-5">
        <input type="file" name="excelFile" />
    </div>
    <input class="btn btn-primary" type="submit" value="Upload Excel" />
</form>
