<div class="d-grid gap-2 mt-5">
    <a class="btn btn-dark" type="button" asp-controller="Product" asp-action="All"><span class="h2">Всички Артикули</span></a>
    <a class="btn btn-dark" type="button" asp-controller="Product" asp-action="Create"><span class="h2">Създай артикул от форма</span></a>
    <a class="btn btn-dark" type="button" asp-controller="Product" asp-action="CreateProductFromExcel"><span class="h2">Създай артикул от EXCEL</span></a>
</div>